body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.75em;
}

h3 {
  font-size: 0.5em;
}

p {
  font-family: "Source Sans Pro";
}

#navbar {
  width: 100%;
  padding: 0;
  margin: 0 0 0px 0;
  min-height: 100px;
}

#top-bar {
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

#title {
  display: inline-block;
  color: #008ccd;
  font-size: 5em;
  letter-spacing: 3px;
  font-weight: 700;
}

#logo {
  display: inline-block;
  margin-right: 20px;
}

#logo-img {
  width: 300px;
  height: auto;
}

#inner-nav {
  width: 53%;
  margin: 0 auto 20px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.inner-nav-link {
  display: inline-block;
  padding: 0 27px;
  color: #333333;
  text-decoration: none;
  font-weight: 600;
}

.main-container {
  display: block;
  margin: 0 auto;
  width: 96%;
}

.card-container-main {
  width: 18%;
  margin: 0px 0.9%;
  display: inline-block;
  border: 1px solid lightgrey;
  vertical-align: top;
}

.card-container {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0;
}

.card-title {
  width: 100%;
  background-color: #ff8900;
  color: white;
  text-align: center;
  border: none;
  font-size: 1.75em;
  padding: 12px 0 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.card-temp {
  width: 100%;
  height: 110px;
  font-size: 5em;
  text-align: center;
  font-weight: 600;
  color: #333333;
}

.card-low-high {
  width: 40%;
  height: 70px;
  border: 1px solid lightgrey;
  margin: 0px 4.5%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.card-details-btn {
  width: 95%;
  margin: 20px auto 7px;
  display: block;
  font-size: 1.2em;
  text-align: center;
  border: none;
  background-color: #008ccd;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 10px 0;
}

.card-details-btn a {
  color: white;
  text-decoration: none;
}

.low-high-title {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  background-color: lightblue;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 7px;
  color: #333333;
}

.big-f {
  font-size: 0.6em;
}

.small-deg {
  font-size: 1.5em;
  font-weight: 700;
  color: #333333;
}

.small-f {
  font-size: 1em;
  font-weight: 500;
  color: #333333;
}

.city-title,
.home-title {
  width: 77%;
  color: white;
  text-align: center;
  border: none;
  font-size: 2.25em;
  padding: 12px 0 12px 2%;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto 20px;
  background: #008ccd;
}

.home-title {
  width: 100%;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.content-container-left {
  width: 55%;
  display: inline-block;
}

.content-container-right {
  width: 37.5%;
  float: right;
  padding-left: 4%;
  border-left: 1px solid lightgrey;
}

.temp-container {
  width: 45%;
  margin: 0px 0.9%;
  display: inline-block;
  border: 1px solid lightgrey;
  padding-bottom: 20px;
}

.content-details-table {
  width: 100%;
}

.content-details {
  width: 51%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.row {
  width: 100%;
  height: 50px;
}

.field {
  font-size: 1.1em;
  color: #333333;
  background-color: lightblue;
  height: 30px;
  text-align: right;
  font-weight: 700;
  padding: 0px 20px;
}

.description {
  font-size: 1.1em;
  color: #333333;
  text-align: left;
  line-height: 1.25em;
  padding: 0 20px;
  background: #eeeeee;
}

#forecast-table {
  width: 100%;
  display: unset;
}

.table-title {
  font-size: 2em;
  color: white;
  background: #ff8900;
  border: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
}

.table-day,
.table-time,
.table-temp,
.table-description {
  color: white;
  border: white;
  background: #008ccd;
  font-weight: 600;
  text-align: center;
  padding: 0 5px;
  height: 40px;
  font-size: 1.1em;
}

.table-day {
  width: 25%;
}
.table-time {
  width: 20%;
}

.table-rows {
  border-bottom: 1px solid lightgrey;
  height: 30px;
  text-align: left;
  padding: 0 10px;
}

.table-clamp {
  display: -webkit-box;
  display: -moz-box;
  height: 370px;
  width: 100%;
  overflow: hidden;
}

.no-clamp {
  display: block;
  width: 100%;
  overflow: visible;
}

.table-clamp-btn {
  width: 100%;
  height: 40px;
  background: lightgrey;
  color: #333333;
  text-align: center;
  font-size: 1.5em;
}

.btn-see-more-show,
.btn-see-less-show {
  display: block;
  background-color: #008ccd;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9em;
  border-radius: 0.28571429rem;
  cursor: pointer;
  width: 100%;
  margin: 10px auto 0;
}

.btn-see-more-hide,
.btn-see-less-hide {
  display: none;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

@media screen and (max-width: 1380px) {
  #inner-nav {
    width: 69%;
  }
}

@media screen and (max-width: 1280px) {
  .content-container-left {
    width: 48%;
  }
  .content-container-right {
    width: 44.5%;
  }
  .field {
    font-size: 1em;
  }
  .description {
    font-size: 1em;
  }
  .card-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1140px) {
  .card-low-high {
    width: 39%;
    margin: 0px 4.5%;
  }
}

@media screen and (max-width: 1095px) {
  #top-bar {
    width: 100%;
  }
  .table-title {
    font-size: 1.5em;
  }
  .table-day,
  .table-time,
  .table-temp,
  .table-description {
    font-size: 0.9em;
  }
  .table-rows {
    font-size: 0.9em;
  }
  .table-time {
    width: 23%;
  }
  .description {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1030px) {
  #inner-nav {
    width: 80%;
  }
  .card-container-main {
    margin: 0px 0.8%;
  }
}

@media screen and (max-width: 970px) {
  #inner-nav {
    width: 80%;
  }
  .card-container-main {
    margin: 0px 0.8%;
  }
  .card-title {
    font-size: 1.2em;
  }
  .card-details-btn {
    font-size: 1em;
  }
  .card-low-high {
    width: 38%;
    margin: 0px 5%;
  }
  .content-container-right {
    padding-left: 2%;
  }
}

@media screen and (max-width: 890px) {
  #inner-nav {
    width: 90%;
  }
  #title {
    display: inline-block;
    color: #008ccd;
    font-size: 4.25em;
    letter-spacing: 3px;
    font-weight: 700;
  }
  #forecast-table {
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
  .card-temp {
    height: 118px;
  }
  .card-container-main {
    width: 31%;
    margin: 0px 0.8% 20px;
  }
  .inner-nav-link {
    padding: 0 10px;
  }
  .card-title {
    font-size: 1.2em;
  }
  .card-low-high {
    width: 45%;
    margin: 0px 2%;
  }
  .content-container-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .field {
    font-size: 1.2em;
  }
  .description {
    font-size: 1.2em;
  }
  .content-container-right {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 100%;
    padding: 20px 0 0 0;
    border-left: none;
    display: block;
    border-top: 1px solid lightgrey;
    margin: 0 auto;
  }
  .btn-see-more-show,
  .btn-see-less-show {
    width: 36%;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1em;
  }
  .table-day,
  .table-time,
  .table-temp,
  .table-description {
    font-size: 1.2em;
    padding: 0 20px;
  }
  .table-rows {
    font-size: 1.2em;
    color: #333333;
  }
}

@media screen and (max-width: 675px) {
  #title {
    font-size: 3.5em;
    letter-spacing: 2px;
  }
  .city-title,
  .home-title {
    font-size: 1.5em;
  }
  .card-title {
    font-size: 1.5em;
  }
  .card-container-main {
    width: 47%;
    margin: 0px 0.8% 20px;
  }
  .card-details-btn {
    font-size: 1.2em;
  }
  .field,
  .description {
    font-size: 1em;
  }
}

@media screen and (max-width: 570px) {
  #title {
    font-size: 3em;
    letter-spacing: 1px;
  }
  .inner-nav-link {
    padding: 0 10px;
    font-size: 0.85em;
  }
}

@media screen and (max-width: 555px) {
  .card-title {
    font-size: 1.1em;
  }
  .card-low-high {
    width: 41.5%;
    margin: 0px 3.5%;
  }
  .table-day,
  .table-time,
  .table-temp,
  .table-description {
    font-size: 1em;
    padding: 0px 7px;
  }
  .table-rows {
    font-size: 0.9em;
    color: #333333;
  }
}

@media screen and (max-width: 515px) {
  #inner-nav {
    width: 90%;
    height: 60px;
  }
  .inner-nav-link {
    padding: 0 15px 10px;
    font-size: 1em;
  }
  .card-low-high {
    /* width: 44.5%;
    margin: 0px 2.25%; */
    width: 41.5%;
    margin: 0px 3.5%;
  }
}

@media screen and (max-width: 445px) {
  #inner-nav {
    width: 90%;
    height: 60px;
  }
  .card-low-high {
    width: 43.5%;
    margin: 0px 2.5%;
  }
}

@media screen and (max-width: 415px) {
  #title {
    font-size: 2em;
  }
  #logo {
    display: block;
    margin: 0 auto;
  }
  #logo img {
    margin-bottom: -30px;
  }
  .card-container-main {
    width: 98%;
  }
  .card-title {
    font-size: 1.35em;
  }
  .inner-nav-link {
    padding: 0 8px 10px;
  }
  .city-title,
  .home-title {
    font-size: 1.75em;
  }
  .temp-container {
    width: 98%;
    margin: 0px 0.9%;
  }
  .content-details {
    width: 98%;
    margin: 20px 1%;
    display: inline-block;
    vertical-align: top;
  }
  .field,
  .description {
    font-size: 1.2em;
  }
  .table-day,
  .table-time,
  .table-temp,
  .table-description {
    font-size: 0.9em;
    padding: 0px 0px;
  }
  .table-rows {
    font-size: 0.9em;
    color: #333333;
  }
  .btn-see-more-show,
  .btn-see-less-show {
    width: 44%;
  }
}
