/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.75em;
}

h3 {
  font-size: 0.5em;
}

p {
  font-family: "Source Sans Pro";
}

#navbar {
  width: 100%;
  padding: 0;
  margin: 0 0 40px 0;
  min-height: 100px;
}

#top-bar {
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

#title {
  display: inline-block;
  color: #008ccd;
  font-size: 5em;
  letter-spacing: 3px;
  font-weight: 700;
}

#logo {
  display: inline-block;
  margin-right: 20px;
}

#logo-img {
  width: 300px;
  height: auto;
}

.main-container {
  display: block;
  margin: 0 auto;
  width: 96%;
}

.card-container-main {
  width: 18%;
  margin: 0px 0.9%;
  display: inline-block;
  border: 1px solid lightgrey;
  vertical-align: top;
}

.card-container {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0;
}

.card-title {
  width: 100%;
  background-color: #ff8900;
  color: white;
  text-align: center;
  border: none;
  font-size: 1.75em;
  padding: 12px 0 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.card-temp {
  width: 100%;
  height: 110px;
  font-size: 5em;
  text-align: center;
  font-weight: 600;
  color: #333333;
}

.card-low-high {
  width: 30%;
  height: 70px;
  border: 1px solid lightgrey;
  margin: 0px 9%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.card-details-btn {
  width: 95%;
  margin: 20px auto 7px;
  display: block;
  font-size: 1.2em;
  text-align: center;
  border: none;
  background-color: #008ccd;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 20px 0;
}

.card-details-btn a {
  color: white;
  text-decoration: none;
}

.low-high-title {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: lightblue;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 7px;
  color: #333333;
}

.big-f {
  font-size: 0.6em;
}

.small-deg {
  font-size: 1.5em;
  font-weight: 700;
  color: #333333;
}

.small-f {
  font-size: 1em;
  font-weight: 500;
  color: #333333;
}

.city-title {
  width: 94%;
  color: #333333;
  text-align: center;
  border: none;
  font-size: 2.25em;
  padding: 0 0 12px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #333333;
  margin: 0 auto 20px;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}

.content-container-left {
  width: 54.5%;
  margin-right: 2.5%;
  display: inline-block;
}

.content-container-right {
  width: 40.5%;
  float: right;
}

.temp-container {
  width: 38%;
  margin: 0px 0.9%;
  display: inline-block;
  border: 1px solid lightgrey;
  padding-bottom: 20px;
}

.content-details {
  width: 58%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.row {
  width: 100%;
  height: 50px;
}

.field {
  font-size: 1.1em;
  color: #333333;
  background-color: lightblue;
  height: 30px;
  text-align: right;
  font-weight: 700;
  padding: 0px 20px;
}

.description {
  font-size: 1.1em;
  color: #333333;
  text-align: left;
  line-height: 1.25em;
  padding: 0 20px;
}

.table-title {
  font-size: 2em;
  color: white;
  background: #ff8900;
  border: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
}

.table-day,
.table-time,
.table-temp,
.table-description {
  color: white;
  border: white;
  background: #008ccd;
  font-weight: 600;
  text-align: center;
  padding: 0 5px;
  height: 40px;
  font-size: 1.1em;
}

.table-rows {
  border-bottom: 1px solid lightgrey;
  height: 30px;
  text-align: left;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}
